header img{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
      
}
.navbar{
    background-color: rgb(160, 220, 238);
    
    }
body{
    width: 100%;
    margin: auto;
    background-color:  rgba(129, 216, 212, 0.5);
}
#budapest_main{
    background-color:  rgba(159, 189, 214, 0.5);
    width: 90%;
    margin: auto;
    padding: 10px;
}
.budapest {
    color: rgb(148, 233, 79);
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px black; 


}
#budapest_main img{
    height: 300px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    
}
h2{
    text-align: center;
}
p{
    text-align: justify;
}
hr{
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header h1{
    color: gold;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px black;
}

#pragaheader{
    background-image: url('../képek/praga-es-pozsony-adventi-csillogasban-nagy\_másolata.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    height: 300px;
    position: relative;
    padding-bottom: 50px;
}

#praganavbar{
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    width: 100%;
    bottom: 0;
    top: 0;
    position: sticky;
    z-index: 1000;
}
footer{
    text-align: center;
}
#Bécs h1{
    color: gold;
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px black; 
}
#háttér{
    margin-left: 20px;
    margin-right: 20px;
    background-color:  rgba(159, 189, 214, 0.5);
    font-family: 'Snowburst One', cursive;
}
.top_kep{    
    position: relative;
    top: 50%;
    width: 70%;
    left: 15%;
}
#lab_becs{
    text-align: center;
}
.carousel-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.carousel-inner{
    text-align: center;
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}


#budapest_main ul li{
    
    list-style-type: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.metro{

    background-image: url(../képek/bkv/bkk-metro-symbol.png);
    background-repeat: no-repeat;

}
.busz{
    background-image: url(../képek/bkv/bkk-bus-symbol.png);
    background-repeat: no-repeat;
}
.villamos{
    background-image: url(../képek/bkv/bkk-tram-symbol.png);
    background-repeat: no-repeat;
}
main{
    width: 90%;
    margin: auto;
}
