header img{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
      
}
.navbar{
    background-color: rgba(245,222,179, 0.5);
    transform: translateX(center);
    
}
body{
    width: 100%;
    margin: auto;
    background-color:  rgba(60, 108, 136, 0.5);
}
#budapest_main img{
    height: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    
}
h2{
    text-align: center;
}
p{
    text-align: justify;
}
hr{
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header h1{
    color: gold;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px black;
}
.budapest{
    color: rgba(51, 104, 51, 0.8);
    font-size: 3rem;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px black;

}

#pragaheader{
    background-image: url('../képek/praga-es-pozsony-adventi-csillogasban-nagy.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

#praganavbar{
    background-color: rgba(255, 255, 255, 0.7);
   
    top: 0;
    left: 0;
    right: 0;
    position: relative;
}
